// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
#visible{
    width: auto;
}
.pop_up_message{
    width: fit-content;
    margin: 0 auto;
}
.bg_orange{

    background: linear-gradient(to top left, #ffa500 0%, rgb(255, 140, 0) 100%);
}
.filter_text{
    filter: drop-shadow(2px 4px 6px black);
}

.result {
    position: absolute;
    top: 73%;
    left: 0;
    background-color: #f8fafc;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
    .list-result {
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #212529;
        background-clip: padding-box;
        border-bottom: 1px solid #ced4da;
    }
}

.apartment {
    position: relative;
    span {
        font-weight: bold;
    }
    .badge_ {
        position: absolute;
        top: 1%;
        left: -1%;
        color: white;
    }
    .visible{
        padding: 0.5rem;
        border-radius: 0.25rem;
        width: fit-content;
    }
    .red {
        background-color: red;

    }
    .green {
        background-color: green;

    }
    .sponsor{
        background-color: gold;
        padding: 0.5rem;
        border-radius: 0.25rem;
        width: fit-content;
    }
}
input:focus:valid {
    border: 2px solid green;
    outline: none;
}

input:focus:invalid {
    border: 2px solid red;
    outline: none;
}

@media screen and (min-width: 768px) {
    #visible{
        width: 100%;
    }
}
