// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#formRegistration {
    input:focus:valid {
        border: 2px solid green;
        outline: none;
        }
        
        input:focus:invalid {
        border: 2px solid red;
        outline: none;
        }
}