// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~@tomtom-international/web-sdk-maps/dist/maps.css";

.mapboxgl-popup-content {
    border-radius: 0.25rem;
    padding: 0;
}
.marker-icon {
    background-position: center;
    background-size: 22px 22px;
    border-radius: 50%;
    height: 22px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 3px;
    transform: rotate(45deg);
    width: 22px;
  }
  .marker {
    height: 30px;
    width: 30px;
  }
  .marker-content {
    background: #c30b82;
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
  }
  .marker-content::before {
    background: #ffffff;
    border-radius: 50%;
    content: "";
    height: 24px;
    margin: 3px 0 0 3px;
    position: absolute;
    width: 24px;
  }
.laravel_button {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%,0);
    padding: 0.5rem;
    z-index: 1;
}

@media screen and (min-width:576px) {
    .laravel_button {
        right: 0;
        transform: translate(0,0);
    }
}

.navbar.backend {
    padding: 0;
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
.result {
    position: absolute;
    top: 26%;
    left: 0;
    background-color: #f8fafc;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    z-index: 1;
    .list-result {
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #212529;
        background-clip: padding-box;
        border-bottom: 1px solid #ced4da;
    }
}
.wrapper {
    padding: 0 15px;
    position: absolute;
    top: 81%;
    left: 0;
    z-index: 3;
    .result_ {
      background-color: #f8fafc;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      width: 100%;
      .list-result_ {
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #212529;
        background-clip: padding-box;
        border-bottom: 1px solid #ced4da;
      }
    }
  }
