// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.laravel_button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 1;
}

.navbar.backend {
    padding: 0;
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}

