.form_ {
    width: 340px;
    height: 440px;
    background: #f6f6f6;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(228, 156, 48);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid orange;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

button {
    float: left;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: none;
    color: #000000;
    cursor: pointer;
    background: linear-gradient(to right, #edc156 0%, #fea759 0%, #fea759 50%, #edc156 100%);
    transition: all .3s;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    /*  box-shadow: 0px 0px 10px 5px #fea759; */
    background: #1875FD;
    color: white;
}

.mod_txtarea {
    width: 100%;
    height: 80px;
    background: #f6f6f6;
    border: 1px solid lightgray;
}

.message_send {
    position: absolute;
    bottom: 170px;
    left: 167px;
    transform: translate(-50%, 0);
    transition: all 1s;
}